body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e9e7f1;
}


h2 {
    color: #333;
    font-size: 24px;
}

hr {
    border: 1px solid #ddd;
}

p {
    font-size: 16px;
    line-height: 1.6;
    color: #666;
}

section {
    margin: 20px 0;
}

section table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
}

section table img {
    border-radius: 10px;
}

section table th, td {
    padding: 10px;
    text-align: center;
    
}

section table th {
    background-color: #333;
    color: white;
}


.service p {
    font-size: 18px;
    color: #333;
}

.service p span {
    font-size: 20px;
    color: #ff5722;
    margin-right: 10px;
}

h1 {
    font-size: 32px;
    color: #b5651d;
    text-align: center;
    margin: 20px 0;
}

address {
    font-style: normal;
    line-height: 1.5;
    color: #333;
    text-align: center;
}

video {
    border: 2px solid #ddd;
    border-radius: 10px;
    width: 80%;
}

.navbar {
    background-color: #04072a; /* Warm orange color */
    padding: 15px;
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar img {
    vertical-align: middle;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 0 15px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar a:hover {
    color: #e9e7f1;
}

.navbar td {
    padding: 0 10px;
}

.headline{
  padding-top: 30px;
   padding-bottom: 30px;
   color: rgb(103, 16, 45); 
   background-color: #ffffff;
}

.service{
    padding: 30px;
    background-color: #ffffff;
    box-shadow: #333;
    border-radius: 12px
}

 
#footer{
    background-color: white;
    padding: 20px;
}

p::first-letter{
    color: #811111;
    font-weight: bold;
   
    font-style: italic;
}